## Task 1 - Lists: Basic Operations

The task aims to practice functions and methods mentioned in the lecture.

1. Create a list `beverages` with the elements `"tea"`, `"coffee"`, `"juice"`, `"tea"`. Print it.
2. Check the type of the variable `beverages`.
3. Print the length of the list.
4. Add two drinks `"milk"` and `"cider"` to the end of the list. Do this in two ways: first by adding each drink separately (find the method in the lecture), and then by concatenating lists (using the `+` operator). Print the list after each method. Can the elements of the list repeat?
5. Add the drink `"milk"` to the beginning of the list.
6. Using an appropriate method, calculate how many times the drink `"milk"` appears in the list and print the result.
7. Remove the element `"milk"` from the list. Print the list. How many elements were removed?
8. Print the index of the element `"tea"`. How many indices were printed?
9. Remove the last element of the list. Do this in two ways: first using the `pop` method, and second using the `del` command with the `len` function. Print the list each time. Which of these methods allows you to store the value of the removed element in a variable?
10. Reverse the order of the elements in the list. Print the list.
11. Clear the entire list using the `clear` method. Print the variable `beverages`. Check its type.
12. Delete the variable `beverages` using the `del` command. Try printing `beverages`.


Hints:
- **Step 3:** Use the built-in `len` function from the standard library.
- **Step 5:** Use the `insert` method.
- **Step 7:** Use the `remove` method.
- **Step 8:** Use the `index` method.

In [1]:
# Solution of exercise 1.
beverages = ["tea", "coffee", "juice", "tea"]
print(type(beverages))
print(len(beverages))
beverages = beverages + ["milk", "cider"]
print(beverages)
beverages.append("milk")
beverages.append("cider")
print(beverages)
beverages.insert(0,"milk")
print(beverages)
print(beverages.count("milk"))
beverages.remove("milk")
print(beverages)
print(beverages.index("tea"))
beverages.pop(-1)
print(beverages)
del beverages[-1]
print(beverages)
print(len(beverages))
print(beverages[::-1])
beverages.reverse()
print(beverages)
beverages.clear()
print(beverages, type(beverages))
del beverages
print(beverages)

<class 'list'>
4
['tea', 'coffee', 'juice', 'tea', 'milk', 'cider']
['tea', 'coffee', 'juice', 'tea', 'milk', 'cider', 'milk', 'cider']
['milk', 'tea', 'coffee', 'juice', 'tea', 'milk', 'cider', 'milk', 'cider']
3
['tea', 'coffee', 'juice', 'tea', 'milk', 'cider', 'milk', 'cider']
0
['tea', 'coffee', 'juice', 'tea', 'milk', 'cider', 'milk']
['tea', 'coffee', 'juice', 'tea', 'milk', 'cider']
6
['cider', 'milk', 'tea', 'juice', 'coffee', 'tea']
['cider', 'milk', 'tea', 'juice', 'coffee', 'tea']
[] <class 'list'>

NameError: name 'beverages' is not defined

## Task 2 - Lists: Indexing and Slicing

This task may benefit from the guide at [Railsware: Indexing and Slicing](https://railsware.com/blog/indexing-and-slicing-for-lists-tuples-strings-sequential-types/).

1. Create a list `num` with the elements `1, 2, 3, 4, 5, 6, 7`. Print it.
2. Print the first element of the list.
3. Print the last element of the list in three ways:  
   - By providing the index value (a number),  
   - By calculating the index using the `len` function,  
   - By using a negative index.
4. Create a slice of the list `num` containing the elements `3, 4, 5`. Be sure to use the `:` notation. Assign the result to the variable `slice` and print it.
5. Create a slice consisting of the first 3 elements of the list `num` and print it. Use only one number when defining the slice.
6. Create a slice consisting of the last 3 elements of the list `num` and print it. Use only one number when defining the slice.

In [2]:
# Solution of exercise 2.
num = [1, 2, 3, 4, 5, 6, 7]
print(num)
print(num[0])
print(num[6])
num3 = len(num)-1
num1 = num[num3]
print(num1)
print(num[-1])
slice = num[2:5]
print(slice)
print(num[:3])
print(num[4:])

[1, 2, 3, 4, 5, 6, 7]
1
7
7
7
[3, 4, 5]
[1, 2, 3]
[5, 6, 7]

## Task 3 - Lists of Lists

1. Create a list `arr` with two elements. The first element of the list is `[1, 2, 3]`, and the second is `[4, 5, 6]`. Print it.
2. Check the type of `arr` and the types of both its elements.
3. Using double indexing, print each of the three elements of `arr[1]` one by one: first print the number `4`, then `5`, and finally `6`.

In [3]:
# Solution of exercise 3.
arr = [[1,2,3],[4,5,6]]
print(arr)
print(type(arr))
print(type(arr[0]))
print(type(arr[1]))
print(arr[1][0])
print(arr[1][1])
print(arr[1][2])

[[1, 2, 3], [4, 5, 6]]
<class 'list'>
<class 'list'>
<class 'list'>
4
5
6

## Task 4 - Dictionaries

1. Create a dictionary `bev_prices`. The keys should be beverages: `"orange juice"`, `"apple juice"`, `"milk"`, and the values should be prices: `8`, `7`, `5`. Print `bev_prices`. Check the type of `bev_prices`.
2. Print the length of the dictionary, i.e., the number of entries.
3. Print the price of milk in two ways:  
   - Using square bracket notation,  
   - Using the `get` method.
4. Add two new entries to the dictionary: `"tea"` with a price of `10` and `"coffee"` with a price of `12`. Add the first entry using square bracket notation and the second using a method discussed in the lecture. Print the dictionary.
5. Change the price of `"tea"` to `9` and `"coffee"` to `11`. Make the first change using square bracket notation and the second using a method discussed in the lecture. Print the dictionary.
6. Use the `get` method to print the value associated with a non-existent key `"buttermilk"`. Call `get` with only one argument.
7. Remove the entry with the key `"tea"` from the dictionary using the `del` command. Print the dictionary.
8. Remove the entry with the key `"coffee"` from the dictionary using the `pop` method. Print the dictionary.
9. Clear the entire dictionary using the `clear` method. Print the dictionary after clearing it.
10. Delete the variable `bev_prices` using the `del` command. Try printing `bev_prices`.

### Hints:
- **Step 2:** Use the built-in `len` function from the standard library.  
- **Steps 7 and 8:** Descriptions of `del` and `pop` can be found at [Career Karma: Remove Key from a Dictionary](https://careerkarma.com/blog/python-remove-key-from-a-dictionary/).

In [6]:
# Solution of exercise 4.
bev_prices = {"orange juice" : 8, "apple juice" : 7, "milk" : 5}
print(bev_prices, type(bev_prices))
print(len(bev_prices))
print(bev_prices["milk"])
print(bev_prices.get("milk"))
bev_prices["tea"] = 10
print(bev_prices)
bev_prices.update({"coffee" : 12})
print(bev_prices)
bev_prices["tea"] = 9
bev_prices.update({"coffee" : 11})
print(bev_prices)
print(bev_prices.get("buttermilk"))
del bev_prices["tea"]
print(bev_prices)
bev_prices.pop("coffee")
print(bev_prices)
bev_prices.clear()
print(bev_prices)
del bev_prices
print(bev_prices)

{'orange juice': 8, 'apple juice': 7, 'milk': 5} <class 'dict'>
3
5
5
{'orange juice': 8, 'apple juice': 7, 'milk': 5, 'tea': 10}
{'orange juice': 8, 'apple juice': 7, 'milk': 5, 'tea': 10, 'coffee': 12}
{'orange juice': 8, 'apple juice': 7, 'milk': 5, 'tea': 9, 'coffee': 11}
None
{'orange juice': 8, 'apple juice': 7, 'milk': 5, 'coffee': 11}
{'orange juice': 8, 'apple juice': 7, 'milk': 5}
{}

NameError: name 'bev_prices' is not defined

## Task 5 - Tuples: Basic Operations

This task is modeled after Task 1. Commands that cannot be performed on tuples are crossed out.

1. Create a tuple `beverages` with the elements `"tea"`, `"coffee"`, `"juice"`, `"tea"`. Print it.
2. Check the type of the variable `beverages`.
3. Print the length of the tuple.
4. ~~Add drinks to the end of the tuple: ....~~
5. ~~Add a drink ... to the beginning of the tuple.~~
6. Using an appropriate method, calculate how many times the drink `"tea"` appears in the tuple and print the result. Do the same for `"milk"`.
7. ~~Remove an element with the value .... from the tuple.~~
8. Print the index of the element with the value `"tea"`. How many indices were printed?
9. ~~Remove the last element of the tuple.~~
10. ~~Reverse the order of elements in the tuple.~~
11. ~~Clear the entire tuple using the `clear` method.~~
12. Delete the variable `beverages` using the `del` command. Try printing `beverages`.

### Hints:
- **Step 3:** Use the built-in `len` function from the standard library, just like for lists.
- **Step 6:** Use the `count` method, just like for lists.
- **Step 8:** Use the `index` method, just like for lists.

In [9]:
# Solution of exercise 5.
beverages = "tea", "coffee", "juice", "tea"
print(beverages)
print(type(beverages))
print(len(beverages))
print(beverages.count("tea"))
print(beverages.index("tea"))
del beverages
print(beverages)

('tea', 'coffee', 'juice', 'tea')
<class 'tuple'>
4
2
0

NameError: name 'beverages' is not defined

## Task 6 - Tuples: Indexing and Slicing

This task is modeled after Task 2.

1. Create a tuple `num` with the elements `1, 2, 3, 4, 5, 6, 7`. Print it.
2. Print the first element of the tuple.
3. Print the last element of the tuple in three ways:  
   - By providing the index value (a number),  
   - By calculating the index using the `len` function,  
   - By using a negative index.
4. Create a slice of the tuple `num` containing the elements `3, 4, 5`. Be sure to use the `:` notation. Assign the result to the variable `slice` and print it.
5. Create a slice consisting of the first 3 elements of the tuple `num` and print it. Use only one number when defining the slice.
6. Create a slice consisting of the last 3 elements of the tuple `num` and print it. Use only one number when defining the slice.

In [10]:
# Solution of exercise 6.
num = (1, 2, 3, 4, 5, 6, 7)
print(num)
print(num[0])
print(num[6])
print(num[len(num)-1])
print(num[-1])
slice = num[2:5]
print(slice)
print(num[:3])
print(num[4:])

(1, 2, 3, 4, 5, 6, 7)
1
7
7
7
(3, 4, 5)
(1, 2, 3)
(5, 6, 7)

## Task 7 - Reinforcement: Tuples of Tuples

This task is modeled after Task 3.

1. Create a tuple `arr` with two elements. The first element of the tuple is `(1, 2, 3)`, and the second is `(4, 5, 6)`. Print it.
2. Check the type of `arr` and the types of both its elements.
3. Using double indexing, print each of the three elements of `arr[1]` one by one: first print the number `4`, then `5`, and finally `6`.

In [11]:
# Solution of exercise 7.
arr = ((1,2,3),(4,5,6))
print(arr, type(arr))
print(type(arr[0]))
print(type(arr[1]))
print(arr[1][0])
print(arr[1][1])
print(arr[1][2])

((1, 2, 3), (4, 5, 6)) <class 'tuple'>
<class 'tuple'>
<class 'tuple'>
4
5
6

## Task 8 - Reinforcement: Lists, Dictionaries, Tuples of Length 0 and 1

1. Use the magic command `%reset` to remove all variables created in previous tasks. Then use the magic command `%whos` to check if they have been removed.
2. Create an empty dictionary, an empty list, and an empty tuple using the appropriate brackets. Use `%whos` to check if they have been created.
3. Create an empty dictionary, an empty list, and an empty tuple using the appropriate functions. Use `%whos` to check if they have been created.
4. Create a dictionary, a list, and a tuple of length 1. Use `%whos` to check if they have been created. Carefully verify the types of the variables.

In [12]:
# Solution of exercise 8.
%reset
%whos
s2 = {}
l2 = []
k2 = ()
%whos
s3 = dict()
l3 = list()
k3 = tuple()
%whos
s4 = {"lala" : 4}
l4 = ["lala4"]
k4 = ("lala4",)
%whos
print(type(s4), type(l4), type(k4))

Once deleted, variables cannot be recovered. Proceed (y/[n])? y
Interactive namespace is empty.
Variable   Type     Data/Info
-----------------------------
k2         tuple    n=0
l2         list     n=0
s2         dict     n=0
Variable   Type     Data/Info
-----------------------------
k2         tuple    n=0
k3         tuple    n=0
l2         list     n=0
l3         list     n=0
s2         dict     n=0
s3         dict     n=0
Variable   Type     Data/Info
-----------------------------
k2         tuple    n=0
k3         tuple    n=0
k4         tuple    n=1
l2         list     n=0
l3         list     n=0
l4         list     n=1
s2         dict     n=0
s3         dict     n=0
s4         dict     n=1
<class 'dict'> <class 'list'> <class 'tuple'>

## Task 9 - Reinforcement: Conversions Between Lists, Dictionaries, and Tuples Using `list`, `tuple`, and `dict`

1. Create a multi-element list. Print it and its type.
2. Create a tuple based on the list. Use the appropriate conversion function. Print the tuple and its type.
3. Attempt to create a dictionary based on the list. Use the appropriate conversion function.

In [14]:
#1
l1 = [1,2,3,4]
print(l1, type(l1))
k1 = tuple(l1)
print(k1,type(k1))
s1 = dict.fromkeys(l1, "liczba")
print(s1, type(s1))

#2
l2 = [1,2,3,4]
print(l2, type(l2))
k2 = tuple(l2)
print(k2,type(k2))
# s2 = dict(l2)
# print(s2, type(s2))

[1, 2, 3, 4] <class 'list'>
(1, 2, 3, 4) <class 'tuple'>
{1: 'liczba', 2: 'liczba', 3: 'liczba', 4: 'liczba'} <class 'dict'>
[1, 2, 3, 4] <class 'list'>
(1, 2, 3, 4) <class 'tuple'>


1. Create a multi-element tuple. Print it and its type.
2. Create a list based on the tuple. Use the appropriate conversion function. Print the list and its type.
3. Attempt to create a dictionary based on the tuple. Use the appropriate conversion function.

In [16]:
#1
kro1 = (1, 2, "milk")
print(kro1, type(kro1))
li1 = list(kro1)
print(li1,type(li1))
sl1 = dict.fromkeys(kro1, "zmienna")
print(sl1,type(sl1))


#2
kro2 = (1, 2, "milk")
print(kro2, type(kro2))
li2 = list(kro2)
print(li2,type(li2))
# sl2 = dict(kro2)
# print(sl2,type(sl2))

(1, 2, 'milk') <class 'tuple'>
[1, 2, 'milk'] <class 'list'>
{1: 'zmienna', 2: 'zmienna', 'milk': 'zmienna'} <class 'dict'>
(1, 2, 'milk') <class 'tuple'>
[1, 2, 'milk'] <class 'list'>



1. Create a multi-element dictionary. Print it and its type.
2. Create a list based on the dictionary. Use the appropriate conversion function. Print the list and its type.
3. Create a tuple based on the dictionary. Use the appropriate conversion function. Print the tuple and its type.

In [17]:
d = {"mom" : 1, "grandma" : 2, "uncle" : 3}
print(d, type(d))
lis = list(d)
print(lis, type(lis))
krot = tuple(d)
print(krot, type(krot))

{'mom': 1, 'grandma': 2, 'uncle': 3} <class 'dict'>
['mom', 'grandma', 'uncle'] <class 'list'>
('mom', 'grandma', 'uncle') <class 'tuple'>

## Task 10 - Reinforcement: The `in` Operator

The `in` operator is used to check if an element belongs to a list, tuple, or dictionary. Test its behavior.

- Create the following list, tuple, and dictionary:
```python
var_list = [11, 12, 13]
var_tuple = (11, 12, 13)
var_dict = {"key1":11, "key2":12, "key3":13}
```
- Create and print logical statements checking if:
    - The number 11 is in the list,
    - The number 21 is in the list,
    - The number 11 is in the tuple,
    - The number 21 is in the tuple,
    - The number 11 is in the dictionary,
    - The string `"key1"` is in the dictionary (remember to use quotes).
    
If you have difficulty writing the conditions intuitively, refer to this page: [in and not in operators in Python](https://www.askpython.com/python/examples/in-and-not-in-operators-in-python).

In [18]:
# Solution of exercise 10.
var_list = [11, 12, 13]
var_tuple = (11, 12, 13)
var_dict = {"key1":11, "key2":12, "Key3":13}
print(11 in var_list)
print(21 in var_list)
print(11 in var_tuple)
print(21 in var_tuple)
print(11 in var_dict)
print("key1" in var_dict)

True
False
True
False
False
True

## Task 11 - Reinforcement: Nesting Data Types

- Create a two-element list where:
    - The first element is a non-empty tuple,
    - The second element is a non-empty dictionary.
- Print a selected element from the tuple and a selected element from the dictionary.

In [20]:
l = [(9, 4, 'milk'), {'I' : 2, "you" : 1}]
print(l[0][-1])
print(l[1][1])

#or
l1 = [(9, 4, 'milk'), {'ja' : 2, "ty" : 1}]
print(l1[0][-1])
l2 = list(l1[1])
print(l2[0])

milk

KeyError: 1


- Create a two-element tuple where:
    - The first element is a non-empty list,
    - The second element is a non-empty dictionary.
- Print a selected element from the list and a selected element from the dictionary.

In [22]:
k = ([1,2,3],{"vegetables" : 6, "fruits" : 4})
print(k[0][2])
print(k[1]['fruits'])

#albo
k1 = ([1,2,3],{"vegetables" : 6, "fruits" : 4})
print(k1[0][2])
k2 = tuple(k1[1])
print(k2[0])

3
4
3
vegetables



- Create a dictionary of length 2, where:
    - The value corresponding to the first key is a non-empty list,
    - The value corresponding to the second key is a non-empty tuple.
- Print a selected element from the list and a selected element from the tuple.

In [23]:
sl = {1:[1,2,3], 2:(1,'tea')}
print(sl[1][0],sl[2][1])

1 tea



- Create a complex nested structure with several levels of depth. Ensure that no values are repeated.
- Choose several values from the structure and print them.

In [24]:
num = ([1,4,8],{'tea': 10,'milk': 15},(2,5,3))
print(num[0][2], num[1]['tea'], num[2][1])

8 10 5